<div class="set-container">
  <section>
    <button class="button" (click)="showRootForm()">Add folder to root</button>
    <div *ngIf="isAddingRoot" class="margin-top-10">
      <img class="file-type-icon" src="assets/icons/folder-open-regular.svg" />
      <input placeholder="Enter root name here" id="rootNameTxt" type="text" [(ngModel)]="fileFolderName"
        autocomplete="off" class="name-input" />
      <button class="button" (click)="addNode(true)">Add</button>
      <button class="button" (click)="onRemove('root')">Remove</button>
    </div>
  </section>
  <ul>
    <ng-container *ngTemplateOutlet="recursiveListTmpl; context: { list: fileFolderStructureList }">
    </ng-container>
  </ul>
</div>

<div class="set-container margin-top-10" *ngIf="showFileFolderSelection">
  <div id="file-folder-selection">
    <button (click)="setNodeType('file')">File</button>
    <button (click)="setNodeType('folder')">Folder</button>
  </div>
  <div *ngIf="showChildSection">
    <img class="file-type-icon"
    [src]="selectedNodeType === 'file' ? 'assets/icons/file-regular.svg' : 'assets/icons/folder-open-regular.svg'" />
    <input [placeholder]="'Enter child name here'" type="text" [(ngModel)]="fileFolderName" autocomplete="off"
      class="name-input" />
    <button class="button" (click)="addNode(false)">Add</button>
    <button class="button" (click)="onRemove('child')">Remove</button>
  </div>
</div>

<textarea *ngIf="fileFolderStructureList.length" class="margin-top-10" readonly rows="10" cols="50" >{{fileFolderStructureList | json}}</textarea>

<ng-template #recursiveListTmpl let-list="list">
  <li *ngFor="let item of list; let i = index">
    <div *ngIf="item">
      <div (mouseover)="showAddRemoveOption(item, true)" (mouseleave)="showAddRemoveOption(item, false)">
        <div class="item">
          <img class="file-type-icon"
            [src]="item.type === 'file' ? 'assets/icons/file-regular.svg' : 'assets/icons/folder-open-regular.svg'" />
          {{ item.name }}
        </div>
        <button *ngIf="item.type === 'folder' && item.id === itemId" class="button" (click)="showChildForm(item)">
          {{ "Add child of " + item.name }}
        </button>
        <button *ngIf="item.id === itemId" class="button" (click)="deleteINode(item)">
          {{ "Delete " + item.name }}
        </button>
      </div>
      <ul *ngIf="item.children.length > 0">
        <ng-container *ngTemplateOutlet="
            recursiveListTmpl;
            context: { list: item.children }
          "></ng-container>
      </ul>
    </div>
  </li>
</ng-template>